<div class="container-fluid container-fluid-custom">
    <h1>About</h1>
    <h3 class="fw-light">Notes hub is a simple notes taking application build using HTML5, NodeJs, Express, EJS, MongoDB and Bootstrap.
    </h3>
</div>